<link rel="stylesheet" href="/components/sidebar/sidebar.css">

<aside class="sidebar">


  <div class="brand-info">
    <img src="/assets/images/task.png" alt="task-images" width="35px">
    <h2>TaskMaster</h2>
  </div>

  <div class="brand-info" id="user-info">
    <div class="avatar">N</div>
    <div class="profile-info">
      <p class="name">NoluthandoMolui</p>
      <p class="email">noluthandotinyiko@gmail.com</p>
    </div>
  </div>


        
    </div>

    <nav class="menu">
        <a class="menu-item active"><img src="/assets/images/dashboard.png" alt="dashboard-image" width="15px">Dashboard</a>
        <a class="menu-item"><img src="/assets/images/clipboard.png" alt="tasks-image" width="15px"> Tasks</a>
        <a class="menu-item"><img src="/assets/images/couple.png" alt="comm-images" width="15px">Community</a>
        <a class="menu-item"><img src="assets//images/dollar.png" alt="dollar-image" width="15px">Expenses</a>
        <a class="menu-item"><img src="/assets/images/document.png" alt="nots-image" width="15px"> Notes</a>
        <a class="menu-item"><img src="assets/images/settings.png" alt="settings image" width="15px">Settings</a>
    </nav>

<button class="logout"><img src="/assets/images/logout.png" alt="logout-images" width="15px">Logout</button>

</aside>
