<link rel="stylesheet" href="/components/sidebar/sidebar.css">

<aside class="sidebar">

    <div class="brand">
        <div class="brand-icon">✔</div>
        <h2>TaskMaster</h2>
    </div>

    <div class="profile-box">
        <div class="avatar">U</div>
        <div class="profile-info">
            <h4>Your Name</h4>
            <p>your@email.com</p>
        </div>
    </div>

    <nav class="menu">
        <a class="menu-item active"><img src="/images/dashboard.png" alt="dashboard-image">Dashboard</a>
        <a class="menu-item"><img src="/images/document.png" alt="tasks-image"> Tasks</a>
        <a class="menu-item"><img src="/images/couple.png" alt="comm-images">Community</a>
        <a class="menu-item"><img src="/images/dollar.png" alt="dollar-image">Expenses</a>
        <a class="menu-item"><span>📝</span> Notes</a>
        <a class="menu-item"><span>⚙️</span> Settings</a>
    </nav>

    <button class="logout">🔓 Logout</button>

</aside>
