<link rel="stylesheet" href="/components/auth-card/auth-card.css">

<section class="auth-card">

    <img src="/images/logo.png" class="logo">

    <h1 class="title">
        Welcome Back!</h1>
    <p class="subtitle">Enter your details to access your account</p>

    <div class="tabs">
        <button class="tab active" data-tab="login">Login</button>
        <button class="tab" data-tab="signup">Sign Up</button>
    </div>

    <div class="form-area" data-import="/components/login-form/login.html"></div>
    <div data-import="/components/footer/footer.html"></div>

</section>

<script src="/components/auth-card/auth-card.js"></script>

