body {
    display: flex;
    justify-content: center;
    align-items: center;     
    margin: 0;               
    background: #f0f0f0;  
    font-family:"Bona Nova", serif;

}
 
.auth-card {
    width: 420px;
    background: #fff;
    margin: 50px;
    padding: 40px 36px 10px 36px;
    border-radius: 18px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.08);
}

.logo {
    width: 70px;
    display: block;
    margin: 0 auto 20px;
}

.title {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #1F2937;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    color: #6B7280;
    margin-bottom: 25px;
}

.tabs {
    display: flex;
    background: #F3F4F6;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 12px;
}

.tab {
    flex: 1;
  padding: 10px;
    border: none;
    background: transparent;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.tab.active {
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
}
