<link rel="stylesheet" href="/components/signup-form/signup.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="input-group">
    <label>Full Name*</label>
    <div class="input">
        <img src="/images/user.png" alt="user-icon" width="20px">
        <input type="text" placeholder="John Doe">
    </div>
</div>

<div class="input-group">
    <label>
        Email Address*</label>
    <div class="input">
  <img src="/images/mail.png" alt="mail" width="20px">
  <input type="email" placeholder="hello@example.com">
</div>
</div>

<div class="input-group">
    <label>Password*</label>
    <div class="input">
        <img src="/images/lock.png" alt="lock-icon" width="20px">
        <input type="password" placeholder="••••••••">
    </div>
    <small>Password must be at least 6 characters long</small>
</div>

<div class="button-row">
    <button class="help">Help?</button>
    <button class="create">Create Account</button>
</div>

<script src="/components/signup-form/signup.js"></script>

