<link rel="stylesheet" href="/templates/login-form/login.css">

<div class="input-group">
    <label>Email Address*</label>
    <div class="input">
        <img src="/images/mail.png" alt="email-icon" width="20px">
        <input type="email" placeholder="hello@example.com">
    </div>
</div>

<div class="input-group">
    <label>Password*</label>
    <div class="input">
        <img src="/images/lock.png" alt="lock-icon" width="20px">
        <input type="password" placeholder="••••••••">
    </div>
</div>

<div class="button-row">

 <button class="help">  <img src="/images/question.png" alt="help-icon" width="14px">
    Help?</button>

    <a href="/dashboard.html" class="next">Next steps</a>
</div>

<script src="/templates/login-form/login.js"></script>

