<link rel="stylesheet" href="dashboard.css">
<section class="cards-row">

    <div class="card">
         <div class="card-infor">
        <h4>Active Tasks</h4>
       <img src="/images/active-images.png" alt="acyive"  width="25px">
         </div>
        <h2>1</h2>
        <small>0 completed</small>
    </div>

    <div class="card">
        <div class="card-infor">
        <h4>Total Expenses</h4>
        <img src="/images/total-expenses.png" alt="total expenses" width="25px">
        </div>
        <h2>$0.00</h2>
        <small>This period</small>
    </div>

    <div class="card">
        <div class="card-infor">
        <h4>Total Notes<h4>
        <img src="/images/total-notes.png" alt="notes" width="25px">
        </div>
        <h2>0</h2>
        <small>Saved notes</small>
    </div>

    <div class="card">
         <div class="card-infor">
        <h4>Completion Rate</h4>
        <img src="/images/completion.png" alt="completionimage" width="25px">
         </div>
        <h2>0%</h2>
        <small>Task completion</small>
    </div>

</section>

<section class="main-sections">

    <div class="recent">
        <h3>Recent Tasks</h3>

        <div class="task-item">
            <div class="circle"></div>
            <div class="task-info">
                <h4>Create a dashboard</h4>
                <p>04/12/2025</p>
            </div>
            <div class="tag">medium</div>
        </div>
    </div>

    <div class="quick-actions">
        <h3>Quick Actions</h3>

        <div class="qa-item">
            <img src="/images/active-images.png" alt="active-tasks" width="25px">
            <div>
                <h4>Create New Task</h4>
                <p>Add a task to your list</p>
            </div>
        </div>

        <div class="qa-item">
            <img src="/images/total-expenses.png" alt="expense" width="25px">
            <div>
                <h4>Track Expense</h4>
                <p>Record a new expense</p>
            </div>
        </div>

        <div class="qa-item">
            <img src="/images/total-notes.png" alt="totalnotes" width="25px">
            <div>
                <h4>Write Note</h4>
                <p>Capture your thoughts</p>
            </div>
        </div>
    </div>

</section>
