.auth-background {
    position: fixed;
    inset: 0;
    background: #F9FAFB;
    overflow: hidden;
    z-index: -1;
}

.floating-arrow {
  position: fixed;
  top: 100px;          
  right: 250px;        
  font-size: 45px;    
  color: #49DFB0;
  cursor: pointer;

  
  transform: rotate(-10deg);

 
  text-shadow: 0 0 4px #49DFB0 ,
               0 0 8px #49DFB0 ;

 
  animation: arrowBounce 1.3s infinite ease-in-out,
             arrowGlow 2s infinite ease-in-out;
}


.floating-arrow {
  transform: rotate(-15deg);
}

@keyframes arrowBounce {
  0%   { transform: translateY(0) rotate(-15deg); }
  60%  { transform: translateY(-8px) rotate(-15deg); }
  100% { transform: translateY(0) rotate(-15deg); }
}
